#about{
    #wedo{
        background-image: url('../img/wedo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size:cover;
        min-height: 786px;
    }
}