// Styling for the events section
#events {
  .container-fluid {
    max-width: 1920px;
    .events-box {
      img{
        filter: grayscale(20%);
      }
      position: relative;
      display: block;
      .events-box-caption {
        font-family: $font-family-sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;

        text-align: center;
        opacity: 0;

        color: $white;
        background: fade-out($primary, .1);
        transition: opacity 0.25s ease;
        text-align: center;
        .project-category {
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .project-name {
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
      &:hover {
        .events-box-caption {
          opacity: 1;
        }
      }
    }
  }
}

/* Slider */
.slick-slide {
	img {
		width: 100%;
    display: block;
    filter: grayscale(20%);
	}
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	.slick-track {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}
[dir='rtl'] {
	.slick-slide {
		float: right;
	}
}
.slick-slide.slick-loading {
	img {
		display: none;
	}
}
.slick-slide.dragging {
	img {
		pointer-events: none;
	}
}
.slick-initialized {
	.slick-slide {
		display: block;
	}
}
.slick-vertical {
	.slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}


/* TIMER COUNTDOWN */
#timer{
	padding:0 4rem 1rem 4rem;
	@include media-breakpoint-up(lg) {
		padding:0 3rem 1rem 3rem;
	}
	div {
		display: inline-block;
		line-height: 1;
		padding: 10px;
		font-size: 3rem;
		@include media-breakpoint-up(lg) {
			padding: 20px;
			font-size: 4rem;
	  }
	}
	span {
		padding-top: 0.5rem;
		display: block;
		font-size: 0.75rem;
		color: white;
		@include media-breakpoint-up(lg) {
			font-size: 1rem;
	  }
	}
	  
	#days {
		color:#bcac4c;
	}
	#hours {
		color:$alumni-primary;
	}
	#minutes {
		color: #d6c666;
	}
	#seconds {
		color:#dfd388;
	}
	
}
