// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  h1 {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
#masthead-main{
  background: linear-gradient(to bottom, #{fade-out($dark-grey, .2)} 0%,#{fade-out($dark-grey, .2)} 100%), url('../img/bg-masthead3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}



#masthead-alumni{
  background: linear-gradient(to bottom, #{fade-out($alumni-secondary, .2)} 0%,#{fade-out($alumni-secondary, .2)} 100%), url('../img/masthead/alumni-night.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}